*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card_grid{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-between;
   gap: 30px;
   width: 1200px;
   flex-wrap: wrap;
   margin: 0 auto;
   justify-content: center;
    
}
.carta{
    border-radius: 5px;
    padding: 10px;
    background-color: #F2F4F7;
}
.imgs{
    margin: 0 auto;
  padding: 15px;
  max-width: 250px;
    border-radius: 25px;
}
.imgs:hover{
    transform: scale(1.03);
    transition: all 1s;
    border-radius: 0px;
    cursor: pointer;
}
.cart_text{
    display: flex;
    padding: 5px;
}
.som{
    background-color: yellow;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 11px;
    width: 100px;
}
.del{
    font-size: 12px;

}
.border{
    border-radius: 50px;
    background: white;
    border: 1px solid gray;
}